<!doctype html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180797380-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180797380-1');
</script>

</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="center-on-page">  
    <h1>Weather in a City</h1>
    <form class="form-inline" method="POST" action="{{ url_for('result') }}">   
        <div class="select">    <select name="comp_select" class="selectpicker form-control">    
            {% for o in data %}     
            <option value="{{ o.name }}">{{ o.name }}</option>   
            {% endfor %}    
        </select>   
    </div>    
    <button type="submit" class="btn">Go</button>
</form>
